
<div class="container">
  <div class="result-header">
    <h3> <a href="/">OurDigitalWorld</a> </h3>
    <p class="lead result-description">Search results for "<%= params[:search] %>"</p>
  </div>

    <%= form_tag("/search", :method => "get") do %>
    <p>
      <%= text_field_tag :search, params[:search], size: 40, placeholder: "Search DPLA database" %>
      <%= submit_tag "Search" %>
    </p>
    <% end %>

  <div class="row">
    <div class="col-sm-8">
        <% if @documents_collection.documents.length > 0 %> 
        <div class="result">
            <% @documents_collection.documents.each do |document| %>
            <h4 class="result-title"><a href="<%= document.url %>"><%= formatResult(document.title) %></a></h4>
            <p class="result-meta"><%= formatResult(document.source) %>: <%= document.url %></p>
            <ul>
                <li> <b>Description: </b><%= formatResult(document.description) %></li>
                <li> <b>Type / Format: </b><%= formatResult(document.type) %> / <%= formatResult(document.format) %> </li>
                <li> <b>Publisher / Creator: </b><%= formatResult(document.publisher) %> / <%= formatResult(document.creator) %> </li>
                <li> <b>Date: </b><%= formatResult(document.date.displayDate) %> </li>
            </ul>
            <% end %>
        <% else %>
            <p> No results on <%= params[:search] %>. </p>
        <% end %>
    </div>

    <% if @documents_collection.documents.length > 0 %>
    <nav>
        <ul id="pagination" class="pagination-sm"> </ul>
        <script type="text/javascript">
            $('#pagination').twbsPagination({
                totalPages: <%= @documents_collection.count / @documents_collection.documents.length %>,
                visiblePages: 10,
                href: 'search?search=<%= params[:search] %>&page={{number}}&page_size=<%= params[:page_size] %>&sourceResource.type=<%= params["sourceResource.type"] %>&sourceResource.date.after=<%= params.fetch("sourceResource.date.after", "1000-01-01") %>&sourceResource.date.before=<%= params.fetch("sourceResource.date.before", "2020-12-31") %>'
            });
        </script>
    </nav>
    <% else %>
    <% end %>
  </div>

    <div class="col-sm-3 col-sm-offset-1 result-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Refine Search</h4>
        <p> <em>Anything specific you're looking for?</em> Refine your search here and get the results you want. </p>
      </div>
      <div class="sidebar-module">
        <h4>By Resource Type</h4>
        <ol class="list-unstyled">
            <% typeList = [] %>
            <% @global_collection.documents.each do |document| %>
                <% if !typeList.include? formatResult(document.type) then %>
                  <li><a href="search?search=<%= params[:search] %>&page_size=<%= params[:page_size] %>&sourceResource.type=<%= document.type %>&sourceResource.date.after=<%= params.fetch("sourceResource.date.after", "1000-01-01") %>&sourceResource.date.before=<%= params.fetch("sourceResource.date.before", "2020-12-31") %>"><%= document.type %></a></li>
                    <% typeList.push(formatResult(document.type)) %>
                <% end %>
            <% end %>
        </ol>
      </div>
      <div class="sidebar-module">
          <h4>By Date</h4>
          <p>From: <input type="text" id="from" class="datepicker"> </p>
          <p>To: <input type="text" id="to" class="datepicker"> </p>
          <a id="dateBtn" class="btn btn-primary"> Find Resources by Date </a>
          <script type="text/javascript">
              $(function() {
                  $(".datepicker").datepicker().on('changeDate', function() {
                      $(this).datepicker('hide') 
                  });
              });
              $(function() {
                  $("#dateBtn").click(function() {
                      var from = $('#from')
                      var to = $('#to')

                      $("#dateBtn").attr("href", 
                        "search?search=<%= params[:search] %>&" + 
                        "sourceResource.date.after=" + formatDate(from) + "&sourceResource.date.before=" + formatDate(to)) + 
                        "&sourceResource.type=<%= params["sourceResource.type"] %>" + 
                        "&page_size=<%= params[:page_size] %>" + "&page=<%= params[:page] %>";
                  })
              })
          </script>
      </div>
      <div class="sidebar-module">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Resources Per Page <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="search?search=<%= params[:search] %>&page_size=10&sourceResource.type=<%= params["sourceResource.type"] %>&sourceResource.date.after=<%= params.fetch("sourceResource.date.after", "1000-01-01") %>&sourceResource.date.before=<%= params.fetch("sourceResource.date.before", "2020-12-31") %>">10</a></li>
            <li><a href="search?search=<%= params[:search] %>&page_size=20&sourceResource.type=<%= params["sourceResource.type"] %>&sourceResource.date.after=<%= params.fetch("sourceResource.date.after", "1000-01-01") %>&sourceResource.date.before=<%= params.fetch("sourceResource.date.before", "2020-12-31") %>">20</a></li>
            <li><a href="search?search=<%= params[:search] %>&page_size=50&sourceResource.type=<%= params["sourceResource.type"] %>&sourceResource.date.after=<%= params.fetch("sourceResource.date.after", "1000-01-01") %>&sourceResource.date.before=<%= params.fetch("sourceResource.date.before", "2020-12-31") %>">50</a></li>
          </ul>
        </div> 
      </div>
    </div>

  </div>

</div>

<footer class="result-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


