
<div class="container">
  <div class="result-header">
    <h3> OurDigitalWorld</h3>
    <p class="lead blog-description">Search result for <%= params[:search] %></p>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
        <% if @documents_collection.present? %> 
        <div class="result">
            <% @documents_collection.documents.each do |document| %>
            <h4 class="result-title"><a href="<%= document.url %>"><%= document.title %></a></h4>
            <p class="result-meta"><%= document.source %>: <%= document.url %></p>
            <ul>
                <li> <%= document.description %></li>
                <li> <%= document.type %> / <%= document.format %> </li>
                <li> <%= document.publisher %> / <%= document.creator %> </li>
                <li> <%= document.original_record.date %> </li>
            </ul>
            <% end %>
        <% else %>
            <p> No results on <%= params[:search] %>. </p>
        <% end %>
    </div>

    <nav>
        <ul id="pagination" class="pagination-sm"> </ul>
        <script type="text/javascript">
             $('#pagination').twbsPagination({
                 totalPages: <%= @documents_collection.count / 10 %>,
                 visiblePages: 10,
                 onPageClick: function(event, page) {
                    $.ajax({
                        url: "/search",
                        data: {"search": "<%= params[:search].to_s %>",
                               "page": page.toString() 
                              },
                        dataType: "json", 
                        success: function(result) {
                        }
                    });
                 }
             });
        </script>
            <% if false then %>
            <% for i in 1..(@documents_collection.count / 10) %>
                <li> <a href="#"><%= i %></a> </li>
            <% end %>
            <% end %>
    </nav>
    
  </div>

    <div class="col-sm-3 col-sm-offset-1 result-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Refine Search</h4>
        <p> <em>Anything specific you're looking for?</em> Refine your search here and get the results you want. </p>
      </div>
      <div class="sidebar-module">
        <h4>By Resource Type</h4>
        <ol class="list-unstyled">
            <% typeList = [] %>
            <% @documents_collection.documents.each do |document| %>
                <% if !typeList.include? document.type then %>
                    <li><a href="#"><%= document.type %></a></li>
                    <% typeList.push(document.type) %>
                <% end %>
            <% end %>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>By Date</h4>
      </div>
    </div>

  </div>

</div>

<footer class="result-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


